.todo-list {
    padding: 10px 0;
    border-bottom: 1px solid rgba(1,1,1,0.1);
  
    &-title {
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      border-bottom: 1px solid rgba(1,1,1,0.1);
      padding: 5px 0;
      margin-bottom: 10px;
    }
  
    &-content {
      display: grid;
      justify-content: center;
    }
  }
  
  .no-todos {
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    color: gray;
  }

  .pagination {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  
    button {
      padding: 0.5rem 1rem;
      border: none;
      background-color: #ddd;
      cursor: pointer;
  
      &.active {
        background-color: #555;
        color: white;
      }
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  
  